<template name="bo">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="well well-sm">
        <legend>Back Office</legend>
        {{#if isAdminUser}}
          <ul class="list-unstyled">
            <li><a href="{{pathFor 'quizzesList'}}" class="btn btn-default btn-lg">Quizzes</a></li>
            <li><a href="{{pathFor 'adminUsers'}}" class="btn btn-default btn-lg">Users</a></li>
          </ul>
        {{else}}
            Must be admin to see this...
        {{/if}}
      </div>
    </div>
  </div>
</template>
