<template name="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer text-center">
          {{#if quiz.footer}}
            {{{quiz.footer}}}
          {{/if}}
          {{#if isLoggedIn}}
            -&nbsp;<a href="{{pathFor 'profile'}}">{{email}}</a>
          {{else}}
            -&nbsp;<a href="{{pathFor 'login'}}">Login</a>
          {{/if}}
          {{#if isAdminUser}}
            -&nbsp;<a href="{{pathFor 'bo'}}">&pi;</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
