<template name="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        {{#if quiz}}
          <div id="home">
            {{{quiz.home}}}
          </div>
          {{#if isOpen quiz._id}}
          <a href="/play/{{quiz._id}}" class="btn btn-success btn-block"><i class="fa fa-play"> Jouer</i></a>
          {{else}}
          <div id="closing">
            {{{quiz.closing}}}
          </div>
          <div id="winners">
            {{{quiz.winners}}}
          </div>
          <a href="/result/{{quiz._id}}" class="btn btn-block"><i class="fa fa-list"> revoir vos réponses</i></a>
          {{/if}}
        {{else}}
          {{#if isAdminUser}}
            <ul>
              {{#each quizzes}}
               <li> <a href="/quiz/{{_id}}">{{title}}</a>{{#if startDate}} - Started {{fromNow startDate}} - Ends {{fromNow endDate}}{{/if}} </li>
              {{/each}}
            </ul>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
