<template name="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        {{#if quiz}}
          {{#if isMobile}}
          <div id="homeMobile">
            {{{quiz.homeMobile}}}
          </div>
          {{else}}
          <div id="home">
            {{{quiz.home}}}
          </div>
          {{/if}}
          {{#if isOpen quiz._id}}
          <!-- <a href="/play/{{quiz._id}}" class="btn btn-success btn-block"><i class="fa fa-play"> Jouer</i></a> -->
          {{else}}
          {{#if isMobile}}
            <div id="closingMobile">
              {{{quiz.closingMobile}}}
            </div>
            <div id="winnersMobile">
              {{{quiz.winnersMobile}}}
            </div>
          {{else}}
            <div id="closing">
              {{{quiz.closing}}}
            </div>
            <div id="winners">
              {{{quiz.winners}}}
            </div>
          {{/if}}


          <a href="/result/{{quiz._id}}" class="btn btn-block">Revoir vos réponses</a>
          {{/if}}
        {{else}}
          {{#if isAdminUser}}
            <ul>
              {{#each quizzes}}
               <li> <a href="/quiz/{{_id}}">{{title}}</a>{{#if startDate}} - Started {{fromNow startDate}} - Ends {{fromNow endDate}}{{/if}} </li>
              {{/each}}
            </ul>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
