<template name="form">
  <h2 class="text-center">Vous avez {{chances.count}} chance{{chances.plural}} de gagner ! <small>Complétez ce formulaire pour participer au tirage au sort.</small></h2>

  {{#autoForm id="profileInsert" type=type doc=profile collection='Profiles' class="form-horizontal"}}
  <fieldset>

  <div class="col-md-6">

    <div class="form-group {{#if afFieldIsInvalid name='title'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="title">{{afFieldLabelText name='title'}}</label>
      <div class="col-md-7">
        {{> afFieldInput name='title' }}
        {{#if afFieldIsInvalid name='title' id='title'}}
        <span class="help-block">{{{afFieldMessage name='title'}}}</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{#if afFieldIsInvalid name='firstname'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="firstname">{{afFieldLabelText name='firstname'}}</label>
      <div class="col-md-7">
        {{> afFieldInput name='firstname' id='firstname'}}
        {{#if afFieldIsInvalid name='firstname'}}
        <span class="help-block">{{{afFieldMessage name='firstname'}}}</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{#if afFieldIsInvalid name='lastname'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="lastname">{{afFieldLabelText name='lastname'}}</label>
      <div class="col-md-7">
        {{> afFieldInput name='lastname' id='lastname'}}
        {{#if afFieldIsInvalid name='lastname'}}
        <span class="help-block">{{{afFieldMessage name='lastname'}}}</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{#if afFieldIsInvalid name='mail'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="mail">{{afFieldLabelText name='mail'}}</label>
      <div class="col-md-7">
        {{> afFieldInput name='mail' id='mail' value=email}}
        {{#if afFieldIsInvalid name='mail'}}
        <span class="help-block">{{{afFieldMessage name='mail'}}}</span>
        {{/if}}
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <div class="form-group {{#if afFieldIsInvalid name='birthdate'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="birthdate">{{afFieldLabelText name='birthdate'}}</label>
      <div class="col-md-7">
        {{> afFieldInput name='birthdate' id='birthdate' format="dd/mm/yyyy"}}
        {{#if afFieldIsInvalid name='birthdate'}}
        <span class="help-block">{{{afFieldMessage name='birthdate'}}}</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{#if afFieldIsInvalid name='zip'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="zip">{{afFieldLabelText name='zip'}}</label>
      <div class="col-md-7">
        {{> inputAutocomplete settings=autoZip id="zip" name='zip' data-schema-key='zip' class="form-control" placeholder="Code postal" value=profile.zip}}
        {{#if afFieldIsInvalid name='zip'}}
        <span class="help-block">{{{afFieldMessage name='zip'}}}</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{#if afFieldIsInvalid name='city'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="city">{{afFieldLabelText name='city'}}</label>
      <div class="col-md-7">
        {{> afFieldInput name='city' id='city'}}
        {{#if afFieldIsInvalid name='city'}}
        <span class="help-block">{{{afFieldMessage name='city'}}}</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{#if afFieldIsInvalid name='validate'}}has-error{{/if}}">
      <label class="col-md-4 control-label" for="validate"></label>
      <div class="col-md-7">
        {{> afFieldInput name='validate' id='validate'}}
        {{#if afFieldIsInvalid name='validate'}}
        <span class="help-block">{{{afFieldMessage name='validate'}}}</span>
        {{/if}}
      </div>
    </div>

  </div>
  <div class="col-md-12">
    <div class="form-group">
      {{#unless quizProfile}}
      <button type="submit" class="btn btn-primary btn-block">Valider le formulaire</button>
      {{else}}
      <button type="submit" class="btn btn-default btn-block">Sauveguarder vos informations</button>
      {{/unless}}
    </div>
    {{> afQuickField name="owner" type="hidden" value=userId}}
    {{> afQuickField name="quizId" type="hidden" value=quizId}}
  </div>
  </fieldset>
  {{/autoForm}}

</template>

<template name="city">
    <span class="label label-default">{{_id}}</span>&nbsp;{{city}}
</template>
