<template name="play">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            {{#each questions}}
              <li class="tab {{isActive order}}" id="{{order}}" role="presentation"><a href="#{{_id}}" data-toggle="tab">{{#unless allAnswered}}Question{{else}}Réponse{{/unless}} {{order}}</a></li>
            {{/each}}
            <!-- {{#if allAnswered}} -->
              <li class="tab {{isActive lastOrder}}" id="{{lastOrder}}" role="presentation"><a href="#last" data-toggle="tab" >Validez</a></li>
            <!-- {{/if}} -->
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" id="myPanes">
            {{#each questions}}
              <div class="tab-pane {{isActive order}}" role="tabpanel" id="{{_id}}" >
                <div class="row">
                  <div class="col-md-6">
                    <div class="inner">
                      <h2>{{question}}</h2>
                      {{#unless isAnswered _id}}
                        {{#each answers}}
                          {{> answer}}
                        {{/each}}
                      {{else}}
                        {{#each answers}}
                          {{> answered}}
                        {{/each}}
                      {{/unless}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="inner">
                      {{#if video}}
                        {{> video}}
                      {{/if}}
                      {{#if image}}
                        {{#if video}}
                          <a href="#" data-action="autoplay" data-toggle="modal" data-target="#videoModal_{{_id}}"><img src="{{image}}" alt="{{question}}" class="img-responsive" /></a>
                        {{else}}
                          <img src="{{image}}" alt="{{question}}" class="img-responsive" />
                        {{/if}}
                      {{/if}}
                      {{{description}}}
                    </div>
                  </div>
                </div>
                {{#unless isAnswered _id}}
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn btn-success btn-lg btn-block validate" id="{{_id}}"><span class="fa fa-check"></span> Valider cette réponse</button>
                  </div>
                </div>
                {{/unless}}
              </div>
            {{/each}}
            <!-- {{#if allAnswered}} -->
              <!-- Last Tab -->
              <div class="tab-pane {{isActive lastOrder}}" role="tabpanel" id="last">
                <div class="row">
                {{> form}}
                </div>
              </div>
            <!-- {{/if}} -->
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<template name="video">
  <!-- Modal -->
  <div class="modal fade" id="videoModal_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel_{{_id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="videoModalLabel_{{_id}}">{{question}}</h4>
        </div>
        <div class="modal-body text-center">
          <iframe width="560" height="315" src="{{video}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>
