<template name="play">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div role="tabpanel">
          <!-- Nav tabs -->
          {{#unless isMobile}}
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            {{#each questions}}
              <li class="tab {{isActive order}}" id="{{order}}" role="presentation"><a href="{{#if allAnswered}}#{{_id}}{{/if}}" data-toggle="{{#if allAnswered}}tab{{/if}}">{{#unless allAnswered}}Question{{else}}Réponse{{/unless}} {{order}}</a></li>
            {{/each}}
            <!-- {{#if allAnswered}} -->
              <!-- <li class="tab {{isActive lastOrder}}" id="{{lastOrder}}" role="presentation"><a href="#last" data-toggle="tab" >Vos résultats</a></li> -->
            <!-- {{/if}} -->
          </ul>
          {{/unless}}

          <!-- Tab panes -->
          <div class="tab-content" id="myPanes">
            {{#each questions}}
            <div class="tab-pane {{isActive order}}" role="tabpanel" id="{{_id}}" >
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="inner">
                      <!-- mobile question counter -->
                      {{#if isMobile}}
                      <div class="mobile-question-head">
                        <p class="text-right question-counter">
                          <strong>{{order}}/{{questionsCount}}</strong>
                        </p>
                      </div>
                      {{/if}}

                      <!-- questions -->
                      <h2>{{question}}</h2>
                      {{#unless isAnswered _id}}
                        {{#each answers}}
                          {{> answer}}
                        {{/each}}
                      {{else}}
                        {{#each answers}}
                          {{> answered}}
                        {{/each}}
                      {{/unless}}


                      <p class="text-danger hidden noAnswerSelected">
                      Sélectionnez une réponse
                      </p>

  {{#unless isMobile}}
    {{#if isOpen}}
      {{#unless isAnswered _id}}
        <button name='next' class="btn btn-danger btn-lg btn-block validate" id="{{_id}}">{{#if isLastQuestion order}}Valider{{else}}Suivant{{/if}}</button>
      {{/unless}}
    {{/if}}
  {{/unless}}


                  </div><!-- /inner -->
                </div>



      {{#unless isMobile}}

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="inner">

                  <!-- <div class="indice-btn">
                    <button type="button" class="btn btn-default"  onClick="ShowHelper('#HelperMobile_{{_id}}'); return false;">
                      <i class="fa fa-info"></i> Voir l’indice pour être sûr de bien répondre
                    </button>
                  </div> -->

                  <div class="HelperMobile" id="HelperMobile_{{_id}}">
                    <div class="inner">
                      <div class="question-img">
                        {{#if video}}
                          {{> video}}
                        {{/if}}
                        {{#if image}}
                          {{#if video}}
                            <a href="#" data-action="autoplay" data-toggle="modal" data-target="#videoModal_{{_id}}"><img src="{{image}}" alt="{{question}}" class="img-responsive" /></a>
                          {{else}}
                            <img src="{{image}}" alt="{{question}}" class="img-responsive" />
                          {{/if}}
                        {{/if}}
                      </div>
                      <div id="description">
                        {{{description}}}
                      </div>
                      {{#unless isAnswered _id}}
                      <div id="answer">
                        <h3 id="answerTitle">{{{answerTitle}}}</h3>
                        <p id="answerText">
                          {{{answerText}}}
                        </p>
                        {{#if answerImage}}
                          <img id="answerImage" src="{{answerImage}}" alt="{{answerTitle}}" />
                        {{/if}}
                      </div>
                      {{/unless}}
                    </div>
                  </div>

                </div><!-- /inner -->
              </div>
      {{/unless}}


              </div><!-- /row -->



      {{#if isMobile}}
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="indice-btn">
                <a class="showhelpder" onClick="ShowHelper('#HelperMobile_{{_id}}'); return false;">
                  <i class="fa fa-info"></i> Voir l’indice pour être sûr de bien répondre
                </a>
              </div>
              
              <div class="HelperMobile hidden-md hidden-lg" id="HelperMobile_{{_id}}">
                <div class="inner">
                  <div class="question-img">
                    {{#if video}}
                      {{> video}}
                    {{/if}}
                    {{#if image}}
                      {{#if video}}
                        <a href="#" data-action="autoplay" data-toggle="modal" data-target="#videoModal_{{_id}}"><img src="{{image}}" alt="{{question}}" class="img-responsive" /></a>
                      {{else}}
                        <img src="{{image}}" alt="{{question}}" class="img-responsive" />
                      {{/if}}
                    {{/if}}
                  </div>
                  <div id="description">
                    {{{description}}}
                  </div>
                  {{#unless isAnswered _id}}
                  <div id="answer">
                    <h3 id="answerTitle">{{{answerTitle}}}</h3>
                    <p id="answerText">
                      {{{answerText}}}
                    </p>
                    {{#if answerImage}}
                      <img id="answerImage" src="{{answerImage}}" alt="{{answerTitle}}" />
                    {{/if}}
                  </div>
                  {{/unless}}
                </div>
              </div>


  {{#if isMobile}}
    {{#if isOpen}}
      {{#unless isAnswered _id}}
        <button name='next' class="btn btn-danger btn-lg btn-block validate" id="{{_id}}">{{#if isLastQuestion order}}Valider{{else}}Suivant{{/if}}</button>
      {{/unless}}
    {{/if}}
  {{/if}}

            </div>
          </div>
      {{/if}}

        {{#if quiz.resultTrackingCode}}
          <img src="http://tbl.tradedoubler.com/report?organization={{quiz.organisationTrackingCode}}&event={{eventTrackingCode}}&leadNumber={{userId}}" width="1" height="1" border="0">
        {{/if}}



            </div><!-- /tab-pane-->
            {{/each}}
          </div><!-- /Tab panes -->
        </div><!-- /tabpanel -->


        {{#unless allAnswered}}
          {{#if isMobile}}
            {{#if quiz.dotationMobile}}
              <div id="dotationMobile">
                {{{quiz.dotationMobile}}}
              </div>
            {{/if}}
          {{else}}
            {{#if quiz.dotation}}
              <div id="dotation">
                {{{quiz.dotation}}}
              </div>
            {{/if}}
          {{/if}}
        {{else}}
          {{#if quiz.promo}}
            <div id="promo">
              {{{quiz.promo}}}
            </div>
          {{/if}}
        {{/unless}}


      </div>
    </div>
  </div>
</template>

<template name="video">
  <!-- Modal -->
  <div class="modal fade" id="videoModal_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel_{{_id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="videoModalLabel_{{_id}}">{{question}}</h4>
        </div>
        <div class="modal-body text-center">
          <iframe class="myVideoClass" width="560" height="315" src="{{video}}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>

