<template name="play">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab">
          {{#each questions}}
            <li class="tab {{isActive order}}" id="{{order}}"><a href="#{{_id}}" data-toggle="tab">{{#unless allAnswered}}Question{{else}}Réponse{{/unless}} {{order}}</a></li>
          {{/each}}
          {{#if allAnswered}}
            <li class="tab {{isActive lastOrder}}" id="{{lastOrder}}"><a href="#last" data-toggle="tab" >Validez</a></li>
          {{/if}}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          {{#each questions}}
            <div class="tab-pane {{isActive order}}" id="{{_id}}">

              <div class="row">
                <div class="col-md-6">
                  <div class="inner">

                    <h2>{{question}}</h2>

                    {{#unless answered _id}}
                      {{#each answers}}
                        <div class="radio">
                          <label for="{{_id}}">
                            <input type="radio" name="{{questionId _id}}" id="{{_id}}" value="{{_id}}">
                            {{answer}}
                          </label>
                        </div>
                        {{icheck}}
                      {{/each}}

                    {{else}}
                      {{#each answers}}
                        <div class="radio">
                          <label for="{{_id}}" class="{{#if correct}}text-success{{else}}text-danger{{/if}}">
                            <input type="radio" name="{{questionId _id}}" id="{{_id}}" value="{{_id}}" disabled {{isChecked _id}}>
                            {{answer}} {{#if correct}} (est la bonne réponse){{/if}}
                          </label>
                        </div>
                        {{icheck}}
                      {{/each}}
                    {{/unless}}

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="inner">
                    {{#if video}}
                    <iframe width="460" height="259" src="{{video}}" frameborder="0" allowfullscreen></iframe>
                    {{/if}}
                    {{#if image}}
                      <img src="{{image}}" alt="{{question}}" class="img-responsive" />
                    {{/if}}
                    {{{description}}}
                  </div>
                </div>
              </div>
              {{#unless answered _id}}
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn btn-success btn-lg btn-block validate" id="{{_id}}"><span class="fa fa-check"></span> Valider cette réponse</button>
                </div>
              </div>
              {{/unless}}
            </div>
          {{/each}}
          {{#if allAnswered}}

            <!-- Last Tab -->
            <div class="tab-pane {{isActive lastOrder}}" id="last">
              <div class="row">
              <h2 class="text-center">Vous avez {{chances.count}} chance{{chances.plural}} de gagner ! <small>Complétez ce formulaire pour participer au tirage au sort.</small></h2>

              {{#autoForm id="profileInsert" type=type doc=profile collection='Profiles' class="form-horizontal"}}
              <fieldset>

              <div class="col-md-6">

                <div class="form-group {{#if afFieldIsInvalid name='title'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="title">{{afFieldLabelText name='title'}}</label>
                  <div class="col-md-7">
                    {{> afFieldInput name='title' }}
                    {{#if afFieldIsInvalid name='title' id='title'}}
                    <span class="help-block">{{{afFieldMessage name='title'}}}</span>
                    {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='firstname'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="firstname">{{afFieldLabelText name='firstname'}}</label>
                  <div class="col-md-7">
                    {{> afFieldInput name='firstname' id='firstname'}}
                    {{#if afFieldIsInvalid name='firstname'}}
                    <span class="help-block">{{{afFieldMessage name='firstname'}}}</span>
                    {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='lastname'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="lastname">{{afFieldLabelText name='lastname'}}</label>
                  <div class="col-md-7">
                    {{> afFieldInput name='lastname' id='lastname'}}
                    {{#if afFieldIsInvalid name='lastname'}}
                    <span class="help-block">{{{afFieldMessage name='lastname'}}}</span>
                    {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='mail'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="mail">{{afFieldLabelText name='mail'}}</label>
                  <div class="col-md-7">
                    {{> afFieldInput name='mail' id='mail' value=email}}
                    {{#if afFieldIsInvalid name='mail'}}
                    <span class="help-block">{{{afFieldMessage name='mail'}}}</span>
                    {{/if}}
                  </div>
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group {{#if afFieldIsInvalid name='birthdate'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="birthdate">{{afFieldLabelText name='birthdate'}}</label>
                  <div class="col-md-7">
                    {{> afFieldInput name='birthdate' id='birthdate'}}
                    {{#if afFieldIsInvalid name='birthdate'}}
                    <span class="help-block">{{{afFieldMessage name='birthdate' format="dd/mm/yyyy"}}}</span>
                    {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='zip'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="zip">{{afFieldLabelText name='zip'}}</label>
                  <div class="col-md-7">
                    {{> inputAutocomplete settings=autoZip id="zip" name='zip' data-schema-key='zip' class="form-control" placeholder="Code postal" value=profile.zip}}
                    {{#if afFieldIsInvalid name='zip'}}
                    <span class="help-block">{{{afFieldMessage name='zip'}}}</span>
                    {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='city'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="city">{{afFieldLabelText name='city'}}</label>
                  <div class="col-md-7">
                    {{> afFieldInput name='city' id='city'}}
                    {{#if afFieldIsInvalid name='city'}}
                    <span class="help-block">{{{afFieldMessage name='city'}}}</span>
                    {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='validate'}}has-error{{/if}}">
                  <label class="col-md-4 control-label" for="validate"></label>
                  <div class="col-md-7">
                    {{> afFieldInput name='validate' id='validate'}}
                    {{#if afFieldIsInvalid name='validate'}}
                    <span class="help-block">{{{afFieldMessage name='validate'}}}</span>
                    {{/if}}
                  </div>
                </div>

              </div>
              <div class="col-md-12">
                <div class="form-group">
                  {{#unless quizProfile}}
                  <button type="submit" class="btn btn-primary btn-block">Valider le formulaire</button>
                  {{else}}
                  <button type="submit" class="btn btn-default btn-block">Metre à jour vos information</button>
                  <a href="{{pathFor 'result' quizId=quizId}}" class="btn btn-primary btn-block">Retourner au résultat</a>
                  {{/unless}}
                </div>
                {{> afQuickField name="owner" type="hidden" value=userId}}
                {{> afQuickField name="quizId" type="hidden" value=quizId}}
              </div>
              </fieldset>
              {{/autoForm}}

            </div>
            </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="city">
    <span class="label label-default">{{_id}}</span>&nbsp;{{city}}
</template>
