<template name="header">
  {{#if isMobile}}
    {{#if quiz.cssMobile}}
      <style type="text/css">
        {{{quiz.cssMobile}}}
      </style>
    {{/if}}
  {{else}}
    {{#if quiz.css}}
      <style type="text/css">
        {{{quiz.css}}}
      </style>
    {{/if}}
  {{/if}}

  {{#unless isQuizHome}}
  <div class="container-fluid container-fluid-mobile">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{#if quiz.header}}
          {{#if isMobile}}
          <div id="headerMobile">
            {{{quiz.headerMobile}}}
          </div>
          {{else}}
          <div id="header">
            {{{quiz.header}}}
          </div>
          {{/if}}
        {{else}}
          <div class="well well-sm">
            <h1 class="text-center"><a href="/"><i class="fa fa-2x fa-play"></i> Default Header</a></h1>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/unless}}
</template>
