<template name="answersList">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="well well-sm">
        <legend><a href="{{pathFor 'quizAdmin'  quizId=quizId}}"><i class="fa fa-angle-left"></i></a> Answers</legend>
        {{#if isAdminUser}}
        <h1 class="text-center">{{questionsCount}} <small>Questions | </small>{{getPublishedCount 'profilesCount'}} <small>Profiles | </small>{{sharesCount.total}} <small>Shares = {{sharesCount.mail}} <i class="fa fa-envelope"></i> + {{sharesCount.fb}} <i class="fa fa-facebook"></i></small></h1>
          <table class="table table-responsive table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Mail</th>
                <th>Birthdate</th>
                <th>Zip</th>
                <th>City</th>
                <th class="text-center">FB Shared</th>
                <th class="text-center">Mail Shared</th>
                <th class="text-center">Chances</th>
                <th class="text-center">When</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each usersAnswers}}
              <tr>
                <td>{{title}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{mail}}</td>
                <td>{{#if birthdate}}{{birthdate.day}}/{{birthdate.month}}/{{birthdate.year}}{{/if}}</td>
                <td>{{zip}}</td>
                <td>{{city}}</td>

                <td class="text-center">{{#if fbShared owner}}<i class="fa fa-check"></i>{{else}}<i class="fa fa-times"></i>{{/if}}</td>
                <td class="text-center">{{sharedEmailCount owner}}</td>
                <td class="text-center">{{winChances owner}}</td>
                <td class="text-center">{{fromNow createdAt}}</td>
                <td class="text-right"> <button type="button" class="btn btn-danger btn-sm reset" id="{{user}}"><i class="fa fa-trash-o"></i></button> </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <!-- <button class="btn btn-success btn-block exportAnswers"><i class="fa fa-cloud-download"></i> Export profiles</button> -->
          <button class="btn btn-danger btn-block reset-all"><i class="fa fa-trash-o"></i> Reset All</button>
        {{else}}
            Must be admin to see this...
        {{/if}}
      </div>
    </div>
  </div>
</template>
