<template name="answersList">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="well well-sm">
        <legend><a href="{{pathFor 'quizAdmin'  quizId=quizId}}"><i class="fa fa-angle-left"></i></a> Answers</legend>
        {{#if isAdminUser}}
        <h1 class="text-center">{{questionsCount}} <small>Questions | </small>{{answersCount}} <small>Answers | </small>{{profilesCount}} <small>Profiles | </small>{{sharesCount}} <small>Shares</small></h1>
          <table class="table table-responsive table-hover table-condensed">
            <thead>
              <tr>
                <th>Mail</th>
                <th>Profile</th>
                {{#each questions}}
                 <th class="text-center">Q{{order}}</th>
                {{/each}}
                <th class="text-center">FB Shared</th>
                <th class="text-center">Email Shared</th>
                <th class="text-center">Chances</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each usersAnswers}}
              <tr>
                <td>{{userEmail user}}</td>
                <td>{{profile user}}</td>
                {{#each questionsAnswered user}}
                <td class="text-center">
                  <i class="fa fa-{{icon}}"></i>
                </td>
                {{/each}}
                <td class="text-center">{{#if fbShared user}}<i class="fa fa-check"></i>{{else}}<i class="fa fa-times"></i>{{/if}}</td>
                <td class="text-center">{{sharedEmailCount}}</td>
                <td class="text-center">{{winChances}}</td>
                <td class="text-right"> <button type="button" class="btn btn-danger btn-sm reset" id="{{user}}"><i class="fa fa-trash-o"></i></button> </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <button class="btn btn-success btn-block export"><i class="fa fa-cloud-download"></i> Export profiles</button>
          <button class="btn btn-danger btn-block reset-all"><i class="fa fa-trash-o"></i> Reset All</button>
        {{else}}
            Must be admin to see this...
        {{/if}}
      </div>
    </div>
  </div>
</template>
