<template name="quizAdmin">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="well well-sm">
        <legend><a href="{{pathFor 'quizzesList'}}"><i class="fa fa-angle-left"></i> </a>Quiz : {{title}} <a href="{{pathFor 'play' quizId=quizId}}" class="btn btn-primary btn-sm pull-right"><i class="fa fa-play"></i> Play</a> </legend>
        {{#if isAdminUser}}
          <h1 class="text-center">{{questionsCount}} <small>Questions | </small>{{answersCount}} <small>Answers | </small>{{profilesCount}} <small>Profiles | </small>{{sharesCount}} <small>Shares</small></h1>
          <ul class="list-unstyled">
            <li><a href="{{pathFor 'quizUpdate' quizId=quizId}}" class="btn btn-default btn-sm"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="{{pathFor 'questionsList' quizId=quizId}}" class="btn btn-default btn-sm"><i class="fa fa-question"></i> Questions</a></li>
            <li><a href="{{pathFor 'answersList' quizId=quizId}}" class="btn btn-default btn-sm"><i class="fa fa-list"></i> Answers</a></li>
          </ul>
        {{else}}
            Must be admin to see this...
        {{/if}}
      </div>
    </div>
  </div>
</template>
