<template name="rules">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <pre>
(example copié depuis : http://www.huissier-59-lille.fr/jeux-concours/consulter-reglement.php)

REGLEMENT GRAND JEU LOSC MC DONALD’S

Article 1 : Société organisatrice
La société Grand Stade Rayonnement (GSR), SASU au capital de 50.000 €, immatriculée au
RCS de Lille sous le n° 532 130 770, dont le siège est établi 233 boulevard de Tournai 59 650
Villeneuve d’Ascq, organise pour le compte du LOSC LILLE SA un jeu gratuit sans
obligation d’achat du 25 mars au 08 avril 2015.
La participation au jeu implique l’acceptation du présent règlement et du règlement intérieur
du Stade Pierre Mauroy.

Article 2 : Participants
Ce jeu est ouvert à toute personne physique d’au moins 13 ans résidant en France
Métropolitaine ou en Corse.
Les mineurs de plus de 13 ans participants doivent préalablement avoir obtenu l’autorisation
de leurs parents ou de la personne exerçant l’autorité parentale. Le fait pour eux de participer
implique qu’ils aient obtenu cette autorisation. GSR se réserve le droit d’en demander la
justification écrite à tout moment et de procéder à toutes les vérifications nécessaires.

Article 3 : Modalités de participation
Pour participer, il suffit de remplir le bulletin de participation mis à disposition dans les
restaurants MC DONALD’S de la métropole lilloise en indiquant notamment :
- Nom
- Prénom
- Adresse complète
- Téléphone
- Adresse email

Article 4 : Détermination des gagnants
Un tirage au sort réalisé le 13 avril 2015 parmi l’ensemble des bulletins déterminera les 21
gagnants.

Article 5 : Dotations
Sont à gagner :
- 1 lot de 4 places en prestation Business Lounge pour le match LOSC / FC
GIRONDINS DE BORDEAUX au Stade Pierre Mauroy (programmé le samedi 18
avril, sous réserve de modification par la LFP) ;
Valeur commerciale indicative du lot : 1328 € TTC
- 10 lots d’un maillot HOME officiel du LOSC ;
Valeur commerciale indicative de chaque lot : 85€ TTC
- 10 lots de 2 places en catégorie 3 pour le match LOSC / FC GIRONDINS DE
BORDEAUX au Stade Pierre Mauroy (programmé le samedi 18 avril, sous réserve de
modification par la LFP) ;
Valeur commerciale indicative de chaque lot : 100 € TTC
La valeur des lots est déterminée au moment de la rédaction du présent règlement et ne saurait
faire l'objet d'une contestation quant à son évaluation.
Il est précisé que les dotations n’incluent ni le déplacement des gagnants et accompagnants de
leur domicile au lieu des matches ni les frais divers de séjour (hôtel, restauration, …). D’une
manière générale, les dotations ne comprennent aucune dépense liée à l’utilisation des
dotations gagnées.
GSR se réserve le droit de substituer, à tout moment, à l'un des lots proposés, un lot d'une
valeur équivalente ou de caractéristiques proches.
Les présents lots ne peuvent faire l'objet d'une demande de contrepartie financière, d'échange
ou de reprise, pour quelque raison que ce soit. Ils ne peuvent non plus être mis en vente par
les gagnants.

Article 6 : Remise des lots
Les gagnants seront informés par téléphone ou par email. Les conditions de remise des lots
seront spécifiées lors du contact des gagnants via ces voies.

Article 7 : Informatique et libertés
Les participants sont informés que leurs données personnelles collectées à l’occasion du
présent jeu sont destinées à leur faire profiter des informations sportives et commerciales du
LOSC, uniquement si ces derniers ont donné leur accord.
Conformément à la loi Informatique et Libertés, du 6 janvier 1978, modifiée en 2004, chaque
participant dispose d’un droit d’accès, de modification, de rectification et de suppression des
données nominatives le concernant, qu’il peut exercer en écrivant à Grand Stade
Rayonnement SASU – Service Marketing – 233 Bvd de Tournai 59 650 Villeneuve d’Ascq.
Pour les mineurs, aucune utilisation de leurs données ne sera réalisée sans l’accord préalable
de leurs parents ou de la personne exerçant l'autorité parentale.

Article 8 : Remboursement des frais
Conformément à l’article L. 121-36 du Code de la consommation, la participation au jeu est
entièrement libre et gratuite, en sorte que les frais d’affranchissement d’une éventuelle
demande de règlement auprès de l’organisateur seront remboursés sur simple demande
adressée en même temps que la demande de règlement et accompagnée de :
- L’indication de son nom, prénom, email et adresse postale
Un RIB pour le remboursement
Les frais d’affranchissement nécessaires à la demande de règlement et à la demande de
remboursement seront remboursés sur la base du tarif postal lent en vigueur.
Les demandes incomplètes ou erronées ne seront pas prises en compte.

Article 9 : Loi applicable
Le présent jeu est exclusivement soumis à la loi française.
Les participants sont soumis à la réglementation applicable aux jeux.
Les réclamations ou litiges nés de l'interprétation ou de l'exécution de ce règlement devront
être soumis, par lettre recommandée avec avis de réception, au siège social de GSR.
Tout litige né à l'occasion du présent jeu et qui ne pourra être réglé à l'amiable sera soumis
aux juridictions compétentes.
Le présent règlement est déposé chez la SCP Martin-Graveline, Huissiers de Justice Associés
– 1 rue Bayard à Lille. Il est également disponible sur simple demande écrite auprès de GSR.
        </pre>
      </div>
    </div>
  </div>
</template>
